* {
    box-sizing: border-box;
}
body {
    background: #94d1e0;
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#survey{
    background: white;
    width: 66vw;
    border-radius: 5px;
    padding: 10px;
  }
  .text-center {
    text-align: center;
  }
  .description {
    color:grey;
  }
  .form-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding: 1.2em; 
    text-align: right;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.form-item > label {
    justify-self: end;
    align-self: center;
    font-size: 14px;
    max-width: 461px;
    color: grey;
}
.form-item > input {
    justify-self:start;
    text-align: left;
}
.form-item > #radio {
    text-align: left;
}
#checkboxes {
    text-align: left;
}
button {
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    border: 0px solid;
  }
 button:hover{
    cursor:pointer;
  }